In [1]:
#TOPIC: String Based Assignment Problem

In [2]:
#1. Write a program to reverse a string.

In [3]:
#assuming a string as string
string1 = "string"
#reversing using slice
string2 = string1[::-1]
#now printing reversed string
print(string2)

gnirts

In [4]:
#2.Check if a string is a palindrome.

In [7]:
#collecting a random string from users
string3 = input("enter random string: ")
#reverse string to check
string4 = string3[::-1]
#check if string is same as reversed string
if string4 == string3:
    #if same then print yes it is palindrom
    print(f"{string3} is palindrom")
else:
    #if not then print not palindrom in else par
    print(string3, " is not palindrom")

enter random string:  India

India  is not palindrom

In [8]:
#3. Convert a string to uppercase.

In [9]:
#assuming a string
string5 = "My Laptop is old"
#convert it using upper() function and storing in string6 variable
string6 = string5.upper()
#printing string6 that is became upper case
print(string6)

MY LAPTOP IS OLD

In [10]:
#.4 Convert a string to lowercase.

In [11]:
#assuming a string 7
string7 = "CONVERTING To LOwerCase"
#converting using lower() function and store in string 8 variable
string8 = string7.lower()
#now printing converted lower case
print(string8)

converting to lowercase

In [12]:
#5. Count the number of vowels in a string.

In [14]:
#collecting a string as input
v_string = input("Enter any string value to count vowel: ")
#assuming initial count is 0
v_count = 0
#assing i to string
for i in v_string:
    #checking if exist vowels in both case uper and lower
    if i in "aeiouAEIOU":
        #if fount then increament each time
        v_count +=1
#now printing number of vowels
print("Number Of Vowel: ", v_count)

Enter any string value to count vowel:  Gorakhpur

Number Of Vowel:  3

In [1]:
#6. Count the number of consonants in a string.

In [3]:
#collecting any random string from user as input
string10 = input("Enter any Random String: ")
#initialize consonats 0 for now
c_count = 0
#assign i2 to string
for i2 in string10:
    #checking existing consonants in both case
    if i2 in "bcdfghjklmnpqrtvwxyzBCDFGHJKLMNPQRSTVWXYZ":
        #if found then increament c_count
        c_count +=1
    #now printing the increament value
print("Number Of Consonants: ", c_count)

Enter any Random String:  Noida

Number Of Consonants:  2

In [ ]:
#7. Remove all whitespaces from a string.

In [5]:
#collecting a string and string it in rem_whtspc
rem_whtspc = input("Enter a string: ")
#remove white space by using replace function by passing two arguement and store it remvd_whtspc
remvd_whtspc = rem_whtspc.replace(" ", "")
#now printing the result 
print(remvd_whtspc)

Enter a string:  how are you?

howareyou?

In [6]:
#8. Find the length of a string without using the `len()` function.

In [10]:
#collecting a string
string11 = input("enter any string: ")
#initialize str_count = 0
str_count = 0
#iterate through each character
for i3 in string11:
    #now increament each time in str_count
    str_count +=1
#printing the counted value
print("Total Len is: ", str_count)

enter any string:  where is it?

Total Len is:  12

In [ ]:
#9. Check if a string contains a specific word.

In [14]:
#getting random strinbg from user
get_rand_string = "Random String if not enter by user"
#if string enter then assign it in get_rand_string
get_rand_string = input("Enter Random String: ")
#specfic words
spec_word = input("Specific Word: ")
#check in get_rand_string
if spec_word in get_rand_string:
    #if fount then printing
    print(f"Your '{spec_word}' Found in '{get_rand_string}'")
else:
    #if not found then printing in else part
    print(f"your '{spec_word}' is not found in '{get_rand_string}'")

Enter Random String:  where are you from?
Specific Word:  you

Your 'you' Found in 'where are you from?'

In [9]:
#10. Replace a word in a string with another word.

In [15]:
#collecting and assign random word
rand_string2 = "python"
#from user to overtake rand_string2
rand_string2 = input("Enter a random string: ")
#user's desired word to replace with
rep_word_2 = input("Enter Specific word to replace: ")
#now replacing the word
mod_word = rand_string2.replace(rand_string2, rep_word_2)
#now printng modified word
print(f"'{rand_string2}' replace with '{rep_word_2}' and now your modified result '{mod_word}'")

Enter a random string:  python
Enter Specific word to replace:  php

'python' replace with 'php' and now your modified result 'php'

In [15]:
#11. Count the occurrences of a word in a string.

In [16]:
#taking input from user if not enter user then already assing a sentence
assign_string = "India is Country and Uttar Pradesh is its state"
#now user can change it by entering random string or desire string
assign_string = input("Enter your desired string here: ")
#now finding occurrences word
occurence_word = input("Enter Occurence Word: ")
#now initilize occu_count = 0
occu_count = 0
#iterate through assing_string
for occu_word in assign_string.split():
    #if occurenece word == to assign string
    if occu_word == occurence_word:
        #now increament count in occu_count
        occu_count +=1
#now printing the number of occurence word
print(f"'{occu_count}' '{occurence_word}' found in '{assign_string}'")

Enter your desired string here:  India is Country and Uttar Pradesh is its state
Enter Occurence Word:  is

'2' 'is' found in 'India is Country and Uttar Pradesh is its state'

In [ ]:
#12. Find the first occurrence of a word in a string.

In [26]:
# Taking input from the user. If not entered by the user, use the default sentence.
orginal_string = input("Enter Your a string: ") or "hotandhot"
#find the your desire occurence
find_occu = input("Enter word to find: ") or "hot"
#using the find function
new_string1 = orginal_string.find(find_occu)
#comparison if find
if new_string1 == -1:
    #if new_string1 == -1 then return nothing
    print(f"your desired '{find_occu}' is not found at first position in '{orginal_string}'")
else:
    print(f"your desired occurence '{find_occu}' found first at '{new_string1}' in '{orginal_string}'")

Enter Your a string:  hotandhot
Enter word to find:  hot

your desired occurence 'hot' found first at '0' in 'hotandhot'

In [ ]:
#13. Find the last occurrence of a word in a string.

In [5]:
#taking a input
last_string = input("enter any string: ") or "pullandpull"
#word to find
word_to_find = input("enter any word to find: ") or "pull"
#finding at last postion
string_position = last_string.rfind(word_to_find)
#checking using if condition
if string_position != -1:
    #if -1 postion then found it now printing
    print(f"'{word_to_find}' found at '{string_position}' postion in '{last_string}'")
else:
    #if not found at last the postion then print
    print(f"'{word_to_find}' not found at last postion in '{last_string}'")

enter any string:  pullandpull
enter any word to find:  pull

'pull' found at '7' postion in 'pullandpull'

In [ ]:
#14. Split a string into a list of words.

In [7]:
#assingn randmom string
random_string_12 = "Apple,Banana,Orange,Kiwwi,Guava"
#now split using split() function
spli_rand_string = random_string_12.split(",")
#now printing the result
print(spli_rand_string)

['Apple', 'Banana', 'Orange', 'Kiwwi', 'Guava']

In [ ]:
#15. Join a list of words into a string.

In [9]:
#assuming a random list 
rand_list = ["this","is","python"]
#now join using join function
joined_list = ' '.join(rand_list)
#now printing the result
print(joined_list)

this is python

In [ ]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [10]:
#assuming a random sentence
rand_sentence = "22 August is today"
#now replace with _ (Under Score ) using Replace() function
repl_sentence = rand_sentence.replace(" ", "_")
#now printing the result
print(repl_sentence)

22_August_is_today

In [11]:
#17. Check if a string starts with a specific word or phrase.

In [20]:
#assuming a word
string14 = input("enter any random word or sentence: ") or "Hello How Are you?"
#now assign a varibale that contain that spicific word at starting
desire_word = input("Enter Desired word to check with starting there: ") or "Hello"
#now check using startwith() function
start_with_string = string14.startswith(desire_word)
#compare using if condition
if start_with_string:
    print(f"Yes! '{desire_word}' starting item in '{string14}'")
else:
    print(f"No! '{desire_word}' not starting item in '{string14}'")

enter any random word or sentence:  hello how are you
Enter Desired word to check with starting there:  hello

Yes! 'hello' starting item in 'hello how are you'

In [21]:
#18. Check if a string ends with a specific word or phrase.

In [24]:
#assuming a variable with a string 
string16 = input("Enter any Word or Phrase") or "Hello are you"
#now check end with word 
end_with = input("Enter The Word End With: ") or "you"
#now check if end_with value match with end of string16's value
end_with_str = string16.endswith(end_with)
#now comparison using if condition
if end_with_str:
    #if getting true then printing yes Message
    print(f"Yes! '{end_with}' end with item in '{string16}'")
else:
    print(f"No! '{end_with}' not end with item in '{string16}'")

Enter any Word or Phrase hello how are you
Enter The Word End With:  you

Yes! 'you' end with item in 'hello how are you'

In [25]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [27]:
#assuming a random string or get by input
without_title = input("enter a sentence: ") or "how are you?"
#converting it tile using title() funtion
with_title = without_title.title()
#now printingg the result
print(with_title)

enter a sentence:  how are you?

How Are You?

In [ ]:
#20. Find the longest word in a string.

In [4]:
#assign a sentence
sentence = "India is 7th Longest Country In The World"
#split the sentence to split to count len
split_sentence = sentence.split()
#initilize "" longest word
longest_word = ""
#initilize max word's length is 0
max_length = 0
#looping through split snetnece
for new_word in split_sentence:
    #store each time if new word comes with longest
    if len(new_word) > max_length:
        max_length = len(new_word)
        longest_word = new_word
    #now printing the result
print(f"'{longest_word}' is Longest word.")

'Longest' is Longest word.

In [5]:
#21. Find the shortest word in a string.

In [2]:
#assuming a sentence
string_18 = "Oceania is smallest continet in the world"
#split string_18 to treat as the words
string_18_split = string_18.split()
#initilize shortest word as None
shortest_word = None
#initilize shortest word count as infinite
s_word_len = float("inf")
#iterate through each word
for s_word in string_18_split:
    #comparison len
    if len(s_word) < s_word_len:
        #assign s_word_len from s_word's len
        s_word_len = len(s_word)
        #overtaking shortest word in shortest_word variable
        shortest_word = s_word
#printing the result
print(f"shortest word is '{shortest_word}' in '{string_18}'")

shortest word is 'is' in 'Oceania is smallest continet in the world'

In [6]:
#22. Reverse the order of words in a string.
#assuming a sentence
sentence10 = input("Enter the String: ") or "Lucknow Located in Uttart Pradesh"
#now convert in to word
sentence_split = sentence10.split()
#now reverse the sentence using slicing
sentence_rev = sentence_split[::-1]
#now remove the comma 
sentence_reved = ' '.join(sentence_rev)
#now printing the result
print(sentence_reved)

Enter the String:  Lucknow Located in Uttart Prades

Prades Uttart in Located Lucknow

In [9]:
#23. Check if a string is alphanumeric.
#assuming the word
string_136 = input("Enter The in String: ") or "Hello12"
#now checking the string
string_137 = string_136.isalnum()
#now printing the result
if string_137:
    #printing the result
    print(f"Yes! '{string_136}' is Alpha Numeric")
else:
    #printing negative the result
    print(f"No! '{string_136}' is not Alpha Numeric")

Enter The in String:  howare12

Yes! 'howare12' is Alpha Numeric

In [13]:
#24. Extract all digits from a string.
#assuming the word
string_138 = input("Enter any string: ") or "how1are2you4"
#assing digit as initialize
digit_1 = ""
#itrate through string_138
for dig_it in string_138:
    #if digit in string_138
    if dig_it.isdigit():
        #store digit if foinf
        digit_1 += dig_it
#printing the result
print("Extracted Digit: ", digit_1)

Extracted Digit:  124

In [14]:
#25. Extract all alphabets from a string.
#assuming the word
string_139 = input("Enter The String: ") or "kwhru3y8ru3"
#assing alpha blank
alpha_is = ""
#iterate through string_139
for alpha_bet in string_139:
    #if alpha in string_139
    if alpha_bet.isalpha():
        #storing alphabet in alpha_bet
        alpha_is += alpha_bet
#printing the result
print("Extracted Alphabet: ", alpha_is)

Enter The String:  h2u4h3h4

Extracted Alphabet:  huhh

In [15]:
#26. Count the number of uppercase letters in a string.
#assuming or collect a string
string_120 = input("Enter The String: ") or "TYhheh How jiUsfj"
#assing blank upper case
upper_case = ""
# itterate through string_120
for uppercase in string_120:
    #if find uppercase
    if uppercase.isupper():
        #increament in upper_case
        upper_case += uppercase
#printing the result
print(upper_case)

Enter The String:  TUG&tgeG

TUGG

In [17]:
#27. Count the number of lowercase letters in a string.
#assuming or collect a string
string_121 = input("Enter The String: ") or "wbYYWGEdjBDf"
#assing blank lower case
lower_case = ""
# itterate through string_121
for lowercase in string_121:
    #if find lowercase
    if lowercase.islower():
        #increament in lowercase
        lower_case += lowercase
#printing the result
print(lower_case)

Enter The String:  DHugygWFF

ugyg

In [19]:
#28. Swap the case of each character in a string.
#assuming the word or collect the word
string_432 = input("Enter any String: ") or "heLLo hOw aRe You?"
# run swapfunction
swap_case = string_432.swapcase()
#printing the result
print(swap_case)

Enter any String:  hELLO hOW aRE yOU?

Hello How Are You?

In [8]:
#29. Remove a specific word from a string.
#assuming word or collect from user
string_133 = input("Enter any string: ") or "How is are you?"
#word to want remove
remove_word = input("Enter The word that you want to remove from string_133: ") or "is"
# split string_133 to working as word
splitting_word = string_133.split()
#now iterate through spliting word
result_string = ' '.join(word4 if word4 != remove_word else '' for word4 in splitting_word)
#printing the result
print(result_string)

Enter any string:  how is are you?
Enter The word that you want to remove from string_133:  is

how  are you?

In [3]:
#30. Check if a string is a valid email address.
# first importing here re packege for regex
import re
#collecting user email
user_email = input("Enter Your Email Here: ") or "youremail123@yahoo.com"
#condition for email using regular expression
email_cond =  pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
#check result is true or false using if else statement
if re.match(email_cond, user_email):
    #priting positive result
    print(f"Your Email '{user_email}' is Valid.")
else:
    # printing negative 
    print(f"Your Email '{user_email}' is not valid")

Enter Your Email Here:  adityadav.deo@gmail.com

Your Email 'adityadav.deo@gmail.com' is Valid.

In [4]:
#31. Extract the username from an email address string.
#collecting the email address
user_email_2 = input("Enter Your Email ID: ") or "bmyadav@yahoo.com"
#now collect username before at '@'
user_name = user_email_2.split('@')[0]
#now printing the user name
print("Your Username is", user_name)

Enter Your Email ID:  bmyadav123@gmail.com

Your Username is bmyadav123

In [6]:
#32. Extract the domain name from an email address string.
# collecting email address 
user_email_3 = input("Enter Email ID: ") or "aadityadav22@yahoo.com"
#now extract the domain after split and get [1] position
domain_name = user_email_3.split('@')[1]
# printing the domain name 
print("Domain is ", domain_name)

Enter Email ID:  sajena123@forbes.com

Domain is  forbes.com

In [9]:
#33. Replace multiple spaces in a string with a single space.
#collecting or assing random string
string_125 = "how much money do you  have right   now?"
#spliting now and join with single space
split_string_125 = ' '.join(string_125.split())
#printing the result
print("with single space: ",split_string_125)

with single space:  how much money do you have right now?

In [14]:
#34. Check if a string is a valid URL.
# importing urllib to exact url validation
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        # Parse the URL using urlparse
        result = urlparse(url)
        
        # Check if the scheme and netloc components are present (basic URL validation)
        return all([result.scheme, result.netloc])
    except ValueError:
        # If urlparse raises a ValueError, the URL is not valid
        return False

# Example usage
url_to_check = input("Enter a URL: ")
if is_valid_url(url_to_check):
    print(f"'{url_to_check}' is a valid URL.")
else:
    print(f"'{url_to_check}' is not a valid URL.")

Enter a URL:  https://jupyter.org/try-jupyter/lab/?path=notebooks%2FIntro.ipynb

'https://jupyter.org/try-jupyter/lab/?path=notebooks%2FIntro.ipynb' is a valid URL.

In [16]:
#35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    # Parse the URL using urlparse
    parsed_url = urlparse(url)

    # Extract the scheme (protocol)
    protocol = parsed_url.scheme

    return protocol

# Example usage
url_to_extract = input("Enter a URL: ")
extracted_protocol = extract_protocol(url_to_extract)

if extracted_protocol:
    print(f"The protocol of '{url_to_extract}' is '{extracted_protocol}'.")
else:
    print(f"Invalid URL: '{url_to_extract}'")

Enter a URL:  http://www.youtube.com/results?search_query=how+to+check+valid+url+in+python

The protocol of 'http://www.youtube.com/results?search_query=how+to+check+valid+url+in+python' is 'http'.

In [17]:
# 36. Find the frequency of each character in a string.
# collecting or assum a random string
string_134 = input("Enter The String: ") or "Where are Uttar Pradesh Located in India?"
#now assign a empty dict
dic = {}
#itterate through string_134
for i in string_134:
    #now runing if else programm to increament and assing items
    if i in dic:
        #assing item in dic along with value 
        dic[i] = dic[i] + 1
    else:
        dic[i] = 1
#now printing the result
print(dic)

Enter The String:  Where are Uttar Pradesh Located in India?

{'W': 1, 'h': 2, 'e': 5, 'r': 4, ' ': 6, 'a': 5, 'U': 1, 't': 3, 'P': 1, 'd': 3, 's': 1, 'L': 1, 'o': 1, 'c': 1, 'i': 2, 'n': 2, 'I': 1, '?': 1}

In [18]:
#37. Remove all punctuation from a string.
#import string module to remove punctuation
import string
#runing a funtion
def remove_punctuation(input_string):
    # Create a translation table with None for each punctuation character
    translation_table = str.maketrans("", "", string.punctuation)
    
    # Use translate to remove punctuation from the input string
    cleaned_string = input_string.translate(translation_table)
    
    return cleaned_string

# Example usage
text_with_punctuation = "Hello, World! This is an example sentence."
text_without_punctuation = remove_punctuation(text_with_punctuation)

print(f"Original Text: {text_with_punctuation}")
print(f"Text without Punctuation: {text_without_punctuation}")

Original Text: Hello, World! This is an example sentence.
Text without Punctuation: Hello World This is an example sentence

In [21]:
# 38. Check if a string contains only digits.
#taking a input from user or assing randmom value 
user_input = input("Enter anythin: ") or "79464545"
#checking through isdigit function
digit_check = user_input.isdigit()
if digit_check:
    #printing postive result
    print(f"'{user_input}' only contained digit")
else:
    print(user_input, "not contained digit only or digit")

Enter anythin:  9784454

'9784454' only contained digit

In [26]:
#39. Check if a string contains only alphabets.
#collecting a random string from user
user_input_12 = input("Enter a anything: ")
#check through isalpha function
alpha_check = user_input_12.isalpha()
#printing the result according if statement
if alpha_check:
    print(f"Yes , '{user_input_12}' is only contained Alphabets")
else:
    print(f"No , '{user_input_12}' is not contained only Alphabets or alphabets")

Enter a anything:  hellow

Yes , 'hellow' is only contained Alphabets

In [28]:
# 40. Convert a string to a list of characters.
# assume a string
string_333 = "Google"
#now convert into the list
string_list = list(string_333)
#now printing the result
print(string_list)

['G', 'o', 'o', 'g', 'l', 'e']

In [7]:
#41. Check if two strings are anagrams.
#assuming two string
string_one = "sad"
string_two = "ads"
#replacing if any spaces
string_one = string_one.replace(" ", "")
string_two = string_two.replace(" ", "")
#convert into the lower case to avoid case-sensitive
string_one = string_one.lower()
string_two = string_two.lower()
#now check the bool result
if sorted(string_one) == sorted(string_two):
    print(f"'{string_one}' and '{string_two}' are anagrams")
else:
    print(f"'{string_one}' and '{string_two}' are not anagrams")

'sad' and 'ads' are anagrams

In [1]:
# 42. Encode a string using a Caesar cipher.
def caesar_cipher_encode(text, shift):
    result = ""
    
    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()
            
            # Shift the character by the specified amount
            char_code = ord(char)
            shifted_code = (char_code - ord('A' if is_upper else 'a') + shift) % 26
            encoded_char = chr(shifted_code + ord('A' if is_upper else 'a'))
            
            result += encoded_char
        else:
            # Non-alphabetic characters remain unchanged
            result += char
    
    return result
# assing value 
plaintext = "Hello, World!"
shift_amount = 3
ciphertext = caesar_cipher_encode(plaintext, shift_amount)
print(f"Plaintext:  {plaintext}")
print(f"Ciphertext: {ciphertext}")

Plaintext:  Hello, World!
Ciphertext: Khoor, Zruog!

In [2]:
# 43. Decode a Caesar cipher encoded string.
def caesar_cipher_decode(text, shift):
    return caesar_cipher_encode(text, -shift)

# assign value:
encoded_text = "Khoor, Zruog!"
shift_amount = 3
decoded_text = caesar_cipher_decode(encoded_text, shift_amount)
#printing the result
print(f"Encoded Text: {encoded_text}")
print(f"Decoded Text: {decoded_text}")

Encoded Text: Khoor, Zruog!
Decoded Text: Hello, World!

In [3]:
# 44. Find the most frequent word in a string.

from collections import Counter
# function most_frequennt_word
def most_frequent_word(text):
    # Split the text into words
    words = text.split()

    # Count the occurrences of each word
    word_counts = Counter(words)

    # Find the most common word
    most_common_word = word_counts.most_common(1)[0][0]

    return most_common_word

# Eassign value
input_text = "This is an example sentence. This sentence is just an example."
result = most_frequent_word(input_text)
# printing the result 
print(f"The most frequent word is: {result}")

The most frequent word is: This

In [4]:
# 45. Find all unique words in a string.
def unique_words(text):
    # Split the text into words
    words = text.split()

    # Create a set to store unique words
    unique_words_set = set(words)

    return unique_words_set

# Example usage:
input_text = "This is an example sentence. This sentence is just an example."
result = unique_words(input_text)
# printing the result
print(f"Unique words in the text: {result}")

Unique words in the text: {'just', 'sentence', 'example', 'is', 'sentence.', 'an', 'example.', 'This'}

In [6]:
# 46. Count the number of syllables in a string.
import re
def count_syllables(word):
    # A very basic pattern to identify vowels
    vowels = re.findall('[aeiouy]+', word.lower())
    return len(vowels)

def count_syllables_in_text(text):
    words = text.split()
    syllable_count = sum(count_syllables(word) for word in words)
    return syllable_count

# Example usage:
input_text = "This is an example sentence."
syllable_count = count_syllables_in_text(input_text)
# printing the result
print(f"Number of syllables: {syllable_count}")

Number of syllables: 9

In [7]:
# 47. Check if a string contains any special characters.
import re

def has_special_characters(input_string):
    # Define a regular expression pattern for special characters
    pattern = re.compile('[!@#$%^&*(),.?":{}|<>]')
    
    # Use the pattern to search for special characters in the input string
    match = pattern.search(input_string)
    
    # If a match is found, the string contains special characters
    return match is not None

# Example usage:
input_text = "This is a string with special characters: !@#$"
result = has_special_characters(input_text)

if result:
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [8]:
# 48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the string into words
    words = input_string.split()

    # Check if the specified index is within the bounds of the list
    if 1 <= n <= len(words):
        # Remove the nth word from the list
        del words[n - 1]

        # Join the remaining words back into a string
        result_string = ' '.join(words)

        return result_string
    else:
        # Return the original string if the index is out of bounds
        return input_string

# assign value:
input_text = "This is an example sentence."
n = 3
result = remove_nth_word(input_text, n)

print(f"Result after removing the {n}th word: {result}")

Result after removing the 3th word: This is example sentence.

In [9]:
# 49. Insert a word at the nth position in a string.
def insert_word_at_nth_position(input_string, word_to_insert, n):
    # Split the string into words
    words = input_string.split()

    # Check if the specified index is within the bounds of the list
    if 0 <= n <= len(words):
        # Insert the word at the nth position in the list
        words.insert(n, word_to_insert)

        # Join the modified list of words back into a string
        result_string = ' '.join(words)

        return result_string
    else:
        # Return the original string if the index is out of bounds
        return input_string

# assign value:
input_text = "This is an example sentence."
word_to_insert = "new"
n = 3
result = insert_word_at_nth_position(input_text, word_to_insert, n)

print(f"Result after inserting '{word_to_insert}' at the {n}th position: {result}")

Result after inserting 'new' at the 3th position: This is an new example sentence.

In [13]:
# 50. Convert a CSV string to a list of lists.
def csvs_list(csv_datas):
    # spliting where \n in string
    lining = csv_datas.split('\n')
    # initialize a empty list
    epmty_list = []
    # itterate through lining
    for new_line in lining:
        # seprate each word into comma
        sep_comma = new_line.split(',')
        # now append into empty result 
        epmty_list.append(sep_comma)
    return epmty_list
#assing csv_datas value
csv_datas = "Sn, Name, City\n1, Aadit Yadav, Gorakhpur\n2, Ajay Yadav, Deoria"
# convert csv to string now 
result_list = csvs_list(csv_datas)

for new_row in result_list:
    print(new_row)

['Sn', ' Name', ' City']
['1', ' Aadit Yadav', ' Gorakhpur']
['2', ' Ajay Yadav', ' Deoria']

In [ ]:
# List Based Practice Problem :

In [15]:
# 1. Create a list with integers from 1 to 10.
#assing value by ranage
int_list = list(range(1,11))
# printing the list
print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# 2. Find the length of a list without using the `len()` function.
#initialize a function
def count_list(list_item):
    #initilize count as 0
    count = 0
    # iterate through list_item
    for i in list_item:
        # increase each time
        count +=1
    # return to count
    return count
#assign list_item
list_item = [1, 2, 3, 4, 5, 9]
# store in length_w_len and run function
length_w_len = count_list(list_item)
print(length_w_len)

6

In [21]:
# 3. Append an element to the end of a list.
# Make a random list
list_1 = [1,2,3,4]
#assign a new element
new_el = 5
# appending to list_1
list_1.append(new_el)
# printing the result
print(list_1)

[1, 2, 3, 4, 5]

In [23]:
# 4. Insert an element at a specific index in a list.
# make a random list
list_2 = [2,3,4,5]
# assing new element to index
new_el_2 = 1
# insert at 1st postion using insert
list_2.insert(0, new_el_2)
# pritning the result 
print(list_2)

[1, 2, 3, 4, 5]

In [24]:
# 5. Remove an element from a list by its value.
#make a list
list_3 = [1,2,3,4,5,6]
# assing remove element
rem_element = 6
# remove using remove attribute
list_3.remove(rem_element)
# printing the result
print(list_3)

[1, 2, 3, 4, 5]

In [27]:
# 6. Remove an element from a list by its index.
# make variable 
list_4 = [0,1,2,3,4,5]
# remove at specific index
new_list_4 = list_4.pop(3)
# printing the result
print(f"List_4 Value: '{list_4}'")
print(f"Removed Element: ", new_list_4)

List_4 Value: '[0, 1, 2, 4, 5]'
Removed Element:  3

In [30]:
# 7. Check if an element exists in a list.
list_5 = [10, 20, 30, 50, 60]
# assign existing element
exist_element = 50
# check through if elese condition 
if exist_element in list_5:
    print(f"'{exist_element}' Exist in '{list_4}'")
else:
    print(f"'{exist_element}' not exist in '{list_4}'")

'50' Exist in '[0, 1, 2, 4, 5]'

In [34]:
# 8. Find the index of the first occurrence of an element in a list.
list_6 = [1,1,2,3,4, 4, 5]
# which element you want to check
check_el = 4
# retrieve through index attribute
index_at = list_6.index(check_el)
#printing the result
print(f"'{check_el}' is at '{index_at}' position in '{list_6}'")

'4' is at '4' position in '[1, 1, 2, 3, 4, 4, 5]'

In [36]:
# 9. Count the occurrences of an element in a list.
list_7 = [10,20,30,40,50,60,60,60]
#count element
count_el = 60
# count the occurences word using count
count_occu = list_7.count(count_el)
# printing the result
print(f"'{count_el}' is '{count_occu}' times in '{list_7}'")

'60' is '3' times in '[10, 20, 30, 40, 50, 60, 60, 60]'

In [39]:
# 10. Reverse the order of elements in a list.
list_8 = [1,2,3,4,5,6,7]
# reverse through reverse attribute
list_8.reverse()
# printing the result 
print(list_8)

[7, 6, 5, 4, 3, 2, 1]

In [40]:
# 11. Sort a list in ascending order.
list_9 = [4,1,6,0,7,9]
# accending the order 
list_9.sort()
# printing the result
print(list_9)

[0, 1, 4, 6, 7, 9]

In [41]:
# 12. Sort a list in descending order.
list_10 = [0,3,6,3,9,7]
#decendong the order
list_10.sort(reverse=True)
# printing the result
print(list_10)

[9, 7, 6, 3, 3, 0]

In [44]:
# 13. Create a list of even numbers from 1 to 20.
even_list = [num for num in range(2, 21, 2)]
# printing the result
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [45]:
# 14. Create a list of odd numbers from 1 to 20.
odd_list = [oddn for oddn in range(1,21,2)]
# printing the result
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [48]:
# 15. Find the sum of all elements in a list.
list_14 = [10,20,30,50,33,5,2]
# sum list_14 using sum function
sum_list_14 = sum(list_14)
# printing the result
print(f"'{sum_list_14}' sum of '{list_14}'")

'150' sum of '[10, 20, 30, 50, 33, 5, 2]'

In [49]:
# 16. Find the maximum value in a list.
list_15 = [22,39,2,4,88]
# use max funtion to find max value
max_in_list_15 = max(list_15)
# printing the result
print(f"'{max_in_list_15}' is max value in '{list_15}'")

'88' is max value in '[22, 39, 2, 4, 88]'

In [50]:
# 17. Find the minimum value in a list.
list_16 = [1,4,55,33,2,88]
# use min funtion to find minimum value
min_in_list_16 = min(list_16)
# printing the result
print(f"'{min_in_list_16}' is min value in '{list_16}'")

'1' is min value in '[1, 4, 55, 33, 2, 88]'

In [55]:
# 18. Create a list of squares of numbers from 1 to 10.
square_list = [nums **2 for nums in range(1,10)]
#print result
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
# 19. Create a list of random numbers.
# import random function
import random
#make a variable and assign value
random_list = [random.randint(1,100) for _ in range(10)]
# printing the result
print(random_list)

[47, 17, 28, 9, 54, 88, 60, 72, 57, 11]

In [63]:
# 20. Remove duplicates from a list.
list_17 = [1,1,1,2,2,4,4,5,6,7]
# converting to set list to remove duplicate and again back to list
rem_dup_list_17 = list(set(list_17))
print(rem_dup_list_17)

[1, 2, 4, 5, 6, 7]

In [66]:
# 21. Find the common elements between two lists.
list_18 = [1,3,4,5]
list_19 = [2,3,6,4]
# converting each to set to find common and again back it to list
common_element = list(set(list_18) & set(list_19))
# printing the result
print("Most Common Word: ", common_element)

Most Common Word:  [3, 4]

In [67]:
# 22. Find the difference between two lists.
list_20 = [10,20,30,40,50]
list_21 = [10,60,70,80,100]
#converting set and find diffrence using diffrence method the convert it to back in list
diffrent_list = list(set(list_20) - set(list_21))
# printing the result
print(f"Different: '{diffrent_list}'")

Different: '[40, 50, 20, 30]'

In [69]:
# 23. Merge two lists.
list_22 = [10,20,30]
list_23 = [40,50]
# merge list_22 and list_23 using + operator
merged_list = list_22 + list_23
# print the result
print("Merged String: ", merged_list)

Merged String:  [10, 20, 30, 40, 50]

In [ ]:
# 24. Multiply all elements in a list by 2.

In [70]:
list_24 = [2,4,5,6,8,10]
# multiply 2 each element
mul_list_24 = [x*2 for x in list_24]
# printing result
print(mul_list_24)

[4, 8, 10, 12, 16, 20]

In [74]:
# 25. Filter out all even numbers from a list.
list_25 = [1,2,3,4,5,6,7,8,9,10]
# filtered list with even number
even_list_25 = [x for x in list_25 if x % 2 !=0]
# original list
print("Given Number: ",list_25)
# even number
print("Filter Out Even Number: ",even_list_25)

Given Number:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filter Out Even Number:  [1, 3, 5, 7, 9]

In [78]:
# 26. Convert a list of strings to a list of integers.
list_26 = ["1", "2", "3", "5"]
# converting to pure integer
int_list_26 = [int(x) for x in list_26]
# print result
print(int_list_26)

[1, 2, 3, 5]

In [79]:
# 27. Convert a list of integers to a list of strings.
list_27 = [1,2,3,4,5]
# converting to string from integer
str_list_27 = [str(y) for y in list_27]
# print the result
print(str_list_27)

['1', '2', '3', '4', '5']

In [81]:
# 28. Flatten a nested list.
def flattenlist(flattenlist_var):
    # assing empty a list var 
    new_list = []
    # iterate through flattenlist_var
    for x in flattenlist_var:
        # if x type is list then extend
        if type(x) is list:
            new_list.extend(flattenlist(x))
        else:
            new_list.append(x)
    return new_list
# assing value to flattenlist_var
flattenlist_var = [1,2,3, [4,5,6],7,8,[9,10]]
print(f"flatten list: '{flattenlist(flattenlist_var)}'")

flatten list: '[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'

In [84]:
# 29. Create a list of the first 10 Fibonacci numbers.
def fibonacci(n):
    # assing 0 and 1 
    num1 = 0
    num2 = 1
    for i in range(0,n):
        num3 = num1 + num2
        # swap the variable
        num1 = num2
        num2 = num3
        # print num 3 
        print(num3)
# run function fibonacci
fibonacci(10)

1
2
3
5
8
13
21
34
55
89

In [97]:
# 30. Check if a list is sorted. 
def is_shorted(list2):
    # iterate through list2
    for x in range(1, len(list2)):
        # check each value if less then each
        if list2[x] < list2[x - 1]:
            return False
    return True
# assign value to list2
list2 = [0,2,3,5,6]
# call function
if is_shorted(list2):
    print(f"'{list2}' is sorted")
else:
    print(f"'{list2}' is not sorted")

'[0, 2, 3, 5, 6]' is sorted

In [100]:
# 31. Rotate a list to the left by `n` positions.
def left_rotate(list3, n):
     # Calculate the effective rotation index
    n = n % len(list3)
    # using the slicing method to rotate
    rotate_list = list3[n:] + list3[:n]
    return rotate_list
# assing value
list3 = [1,2,3,4,5]
# assin or collecting n value
n = int(input("Enter N Value")) or 2
print("Orginal List: ",list3)
print("Rotate to Left: ",left_rotate(list3, n))

Enter N Value 2

Orginal List:  [1, 2, 3, 4, 5]
Rotate to Left:  [3, 4, 5, 1, 2]

In [104]:
# 32. Rotate a list to the right by `n` positions.
def right_rotate(list4, n):
    # Calculate the effective rotation index
    n = n % len(list4)
    # using slice method to rotate
    rotate_list = list4[-n:] + list4[:-n]
    return rotate_list
# assing value to list4
list4 = [1,2,3,4,5,6]
# ask n value
n = int(input("Enter N value: ")) or 2
# run and print function
print("Orginal Value: ",list4)
print("Rotate to right: ",right_rotate(list4, n))

Enter N value:  3

Orginal Value:  [1, 2, 3, 4, 5, 6]
Rotate to right:  [4, 5, 6, 1, 2, 3]

In [111]:
# 33. Create a list of prime numbers up to 50.
# Iterate through 0 to 50
for i in range(2, 51):
    flag = 0
    # Check for factors
    for j in range(2, int(i**0.5) + 1):
        if i % j == 0:
            flag = 1
            break
    # If flag is still 0, i is a prime number
    if flag == 0:
        print(i, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [6]:
# 34. Split a list into chunks of size `n`.
def split_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# assing to variable
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
# run function
chunks = split_into_chunks(original_list, chunk_size)
print("Original List:", original_list)
print(f"Chunks of size {chunk_size}:", chunks)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Chunks of size 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [14]:
# 35. Find the second largest number in a list.
list9 = [3,8,3,33,65,77,11,3,5,89,50]
# remove duplicate number using set
list9 = list(set(list9))
# Sort to accending number
list9.sort()
# access second largest number
print("Second Largest Number: ",list9[-2])

Second Largest Number:  77

In [16]:
# 36. Replace every element in a list with its square.
list10 = [2,4,5,6,8,10]
# square each element
square_ele = [x**2 for x in list10]
# print the value
print("Square Value: ", square_ele)

Square Value:  [4, 16, 25, 36, 64, 100]

In [17]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ['apple', 'banana', 'orange', 'grape']

# Convert list to dictionary
my_dict = {value: index for index, value in enumerate(my_list)}

# Print the resulting dictionary
print(my_dict)

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

In [22]:
# 38. Shuffle the elements of a list randomly.

# importing randmom package
import random
list11 = [1,2,3,4,5,6,7,8,9,10]
# use shuffle method to suffle it 
random.shuffle(list11)
# print value 
print(list11)

[9, 1, 7, 8, 3, 2, 6, 4, 5, 10]

In [1]:
# 39. Create a list of the first 10 factorial numbers.
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Generate a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("Factorial Numbers:", factorial_numbers)

Factorial Numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [3]:
# 39. Create a list of the first 10 factorial numbers.
def factorial_num(n):
    # run until n value is less than 1 or if it 0 then return 1 
    if n==0 or n==1:
        return 1
    else:
        # multiply each time and mines 1 
        return n * factorial_num(n-1)
# running the function with 10 factorial numbers
factorial_num_is = [factorial_num(i) for i in range(10)]
# print all factorial number
print(factorial_num_is)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [6]:
# 40. Check if two lists have at least one element in common.
def chk_common_el(listA, listB):
    for temp_list in listA:
        if temp_list in listB:
            return True
    return False
# making lists and run function
listA = [1,2,4,5,6,7,8]
listB = [9,2]
# check result true or false
if chk_common_el(listA, listB):
    print(f"in '{listA}' and '{listB}' matching at least one element")
else:
    print(f"in '{listA}' and '{listB}' not matching at least one element")

in '[1, 2, 4, 5, 6, 7, 8]' and '[9, 2]' matching at least one element

In [8]:
# 41. Remove all elements from a list.
list12 = [0,1,2,3,4,5,5]
# remove list using clear method
list12.clear()
# print the result
print(list12)

[]

In [11]:
# 42. Replace negative numbers in a list with 0.
list13 = [11,23,-44,-55,33,5,-4,1]
# iterate through list13 if found < 0 then store 0
for i in range(len(list13)):
    if list13[i] < 0:
        list13[i] = 0
# print result now
print("After Value: ",list13)

After Value:  [11, 23, 0, 0, 33, 5, 0, 1]

In [12]:
# 43. Convert a string into a list of words.
list13 = "Hello, How Are You?"
# using split method to return list
split_list13 = list13.split()
# print the result
print(split_list13)

['Hello,', 'How', 'Are', 'You?']

In [14]:
# 44. Convert a list of words into a string.
list14 = ["How","are", "you?"]
# using join method to convert it to string
jn_list14 = ' '.join(list14)
# print the result
print(jn_list14)

How are you?

In [18]:
# 45. Create a list of the first `n` powers of 2.
n = 5
# create first n of power
power_n = [2 ** i for i in range(n)]
# print the result
print("List of the first", n, "powers of 2:", power_n)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [22]:
# 46. Find the longest string in a list of strings.
string_list = ["Python", "Java", "PHP", "Javascript", "Ruby"]
# assign blank longest_word
longest_word = ""
# check through loop
for l in string_list:
    if len(l) > len(longest_word):
        # store lon word if len is greater than l
        longest_word = l
# print the result
print("in",string_list, "longest string is:",longest_word)

in ['Python', 'Java', 'PHP', 'Javascript', 'Ruby'] longest string is: Javascript

In [24]:
# 47. Find the shortest string in a list of strings.
string_list_short = ["Python", "Java", "PHP", "Javascript", "Ruby"]
# assing blank short string
short_string = string_list_short[0]
# iterate through short_list_short
for s in string_list_short:
    if len(s) < len(short_string):
        # storing shortest string
        short_string = s
# print result
print("in",string_list_short, "short string is:",short_string)

in ['Python', 'Java', 'PHP', 'Javascript', 'Ruby'] short string is: PHP

In [2]:
# 48. Create a list of the first `n` triangular numbers.
# formula function to find triangular number
def triangular_fun(n):
    return n * (n+1) // 2
# creating first triangular up to n
def gen_n(n):
    return [triangular_fun(i) for i in range(1, n+1)]
# ASSIGN n value
n = 10
# run the function
got_triangular_num = gen_n(n)
# print result
print("First",n, "triangular numbers: ", got_triangular_num)

First 10 triangular numbers:  [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [11]:
# 49. Check if a list contains another list as a list_two.
def subsec_find(list_two, list_one):
    # Index for the list_two elements
    subseq_index = 0
    # iterate through list_one
    for element in list_one:
        if element == list_two[subseq_index]:
            subseq_index += 1
            if subseq_index == len(list_two):
                return True
    return False

# Example main list and list_two
list_one = [1, 2, 3, 4, 5, 6, 7, 8]
list_two = [2, 3, 8]

# Check if the main list contains the list_two
if subsec_find(list_two, list_one):
    print("list_one contains the list_two.")
else:
    print("list_one does not contain the list_two.")

list_one contains the list_two.

In [12]:
# 50. Swap two elements in a list by their indices.
list_element = [1,2,3,4,5]
# indexes
index_one = 1
index_three = 3
# swapping 
new_temp = list_element[index_one]
list_element[index_one] = list_element[index_three]
list_element[index_three] = new_temp
# print result
print("Swapped Result:", list_element)

Swapped Result: [1, 4, 3, 2, 5]

In [13]:
# Tuple Based Practice Problem :

In [1]:
# 1. Create a tuple with integers from 1 to 5.
tuple1 = tuple(range(1,6))
# print the result
print(tuple1)

(1, 2, 3, 4, 5)

In [4]:
# 2. Access the third element of a tuple.
tuple2 = (1,2,3,4,5,6,7,8)
# Access third element
third_element = tuple2[2]
# print result
print(third_element)

3

In [5]:
# 3. Find the length of a tuple without using the `len()` function.
tuple3 = (1,2,4,5,6)
# assing count zero
t_count = 0
# iterate through tuple3
for x in tuple3:
    t_count +=1
# print the result
print("Total Length in",tuple3, "is:",t_count)

Total Length in (1, 2, 4, 5, 6) is: 5

In [6]:
# 4. Count the occurrences of an element in a tuple.
tuple4 = (10,20,30,40,50,10,10,2,20)
# assing initial value 0
t_count = 0
# occurence is
occu = 10
# iterate through tuple4
for y in tuple4:
    # if found occurence then increament
    if y == occu:
        t_count +=1
# print the result
print("Total Occurences in", tuple4, "has", t_count)

Total Occurences in (10, 20, 30, 40, 50, 10, 10, 2, 20) has 3

In [7]:
# 5. Find the index of the first occurrence of an element in a tuple.
tuple5 = (10,20,20,30,50,60)
# find to index
find_first_occu = 20
# find first occurnece in tuple5
index_of_first_occu = tuple5.index(find_first_occu)
# print the result
print(f"First Occurnece in '{tuple5}' at '{index_of_first_occu}' position")

First Occurnece in '(10, 20, 20, 30, 50, 60)' at '1' position

In [10]:
# 6. Check if an element exists in a tuple.
tuple6 = (1,2,3,4,5,7,7,7,8)
# find element 
element_to_find = 7
# check using if condintion
if element_to_find in tuple6:
    print(f"Yes, '{element_to_find}' exisit in '{tuple6}'")
else:
    print(f"No, '{element_to_find}' doesn't exisit in '{tuple6}'")

Yes, '7' exisit in '(1, 2, 3, 4, 5, 7, 7, 7, 8)'

In [12]:
# 7. Convert a tuple to a list.
tuple7 = (1,2,3,4,5)
# check data type
list_tuple = list(tuple7)
# now check print
print(f"tuple8 is '{type(tuple7)}' and list_tuple is '{type(list_tuple)}'")

tuple8 is '<class 'tuple'>' and list_tuple is '<class 'list'>'

In [15]:
# 8. Convert a list to a tuple.
list99 = [1,2,3,3,4,4]
# convert to tuple
con_tuple = tuple(list99)
# print tuple
print(con_tuple, "Type is: ",type(con_tuple))

(1, 2, 3, 3, 4, 4) Type is:  <class 'tuple'>

In [18]:
# 9. Unpack the elements of a tuple into variables.
tuple_list_val = (1,2,3)
# unpack into variable 
var_one, var_two, var_three = tuple_list_val
# print value
print("First Variable: ",var_one)
print("First Variable: ",var_two)
print("First Variable: ",var_three)

First Variable:  1
First Variable:  2
First Variable:  3

In [21]:
# 10. Create a tuple of even numbers from 1 to 10.
# start with 2 stop 11 and step 2
even_list = [num for num in range(2,11,2)]
# now convert it to tuple
even_tuple = tuple(even_list)
# print now
print(even_tuple)

(2, 4, 6, 8, 10)

In [22]:
# 11. Create a tuple of odd numbers from 1 to 10.
odd_list = [num for num in range(1,11,2)]
# convert it into tuple
odd_tuple = tuple(odd_list)
# print value 
print(odd_tuple)

(1, 3, 5, 7, 9)

In [24]:
# 12. Concatenate two tuples.
tuple_one = (1,2,3,4,54)
tuple_two = (3,34,4,5,6)
# concatenate using +
con_tuplle = tuple_two + tuple_one
# print value 
print(con_tuplle)

(3, 34, 4, 5, 6, 1, 2, 3, 4, 54)

In [25]:
# 13. Repeat a tuple three times.
tuple_org = (11,12,13)
# repeating using * 
rep_tuple = tuple_org * 3
# now print
print(rep_tuple)

(11, 12, 13, 11, 12, 13, 11, 12, 13)

In [28]:
# 14. Check if a tuple is empty.
blank_tuple = ()
# check empty tuple using if condintion
if not blank_tuple:
    print("blank_tuple is empty")
else:
    print("blank_tuple is not empty")

blank_tuple is empty

In [29]:
# 15. Create a nested tuple.
tuple_nest = ("How",("are"),"you?")
# printing the result
print(tuple_nest)

('How', 'are', 'you?')

In [30]:
# 16. Access the first element of a nested tuple.
tuple_nest_two = ((1,2), 12,13,("True"))
# accessing first element
tuplenest_first_ele = tuple_nest_two[0]
# result
print(f"'{tuplenest_first_ele}' is first element in nested '{tuple_nest_two}'")

'(1, 2)' is first element in nested '((1, 2), 12, 13, 'True')'

In [31]:
# 17. Create a tuple with a single element.
tuple_sing = (10,) #, comma must have in tupple
# print
print(tuple_sing)

(10,)

In [32]:
# 18. Compare two tuples.
tuple_first = (10,20,30)
tuple_sec = (40,50,60)
# comparison with tuple_first and tuple_sec
print("tuple_first == tuple_sec: ",tuple_first == tuple_first) # == for checking equality
print("tuple_first != tuple_sec: ",tuple_first != tuple_first) # != if not equal
print("tuple_first < tuple_sec: ",tuple_first < tuple_first) # < if first less than second one
print("tuple_first > tuple_sec: ",tuple_first > tuple_first) # > if first greater than second one
print("tuple_first <= tuple_sec: ",tuple_first <= tuple_first) # <= if less than or equal
print("tuple_first >= tuple_sec: ",tuple_first >= tuple_first) # >= if greater than or equal

tuple_first == tuple_sec:  True
tuple_first != tuple_sec:  False
tuple_first < tuple_sec:  False
tuple_first > tuple_sec:  False
tuple_first <= tuple_sec:  True
tuple_first >= tuple_sec:  True

In [35]:
# 19. Delete a tuple.
storage_tuple = (1,23,3,4)
# deleting tuple using del
del storage_tuple
# now try to access
print(storage_tuple)

NameError: name 'storage_tuple' is not defined

In [37]:
# 20. Slice a tuple.
raw_tuple = (1,2,3,4,5,6,7,8)
# slice tuple from 1 index to 5
slice_tuple = raw_tuple[1:5]
# print
print(slice_tuple)

(2, 3, 4, 5)

In [42]:
# 21. Find the maximum value in a tuple.
random_tuple = (123,3,54,5,6,6,7,43545,46546)
# access maximum tuple element using max method
max_ele_tup = max(random_tuple)
# print
print(f"Max Element in '{random_tuple}' is: '{max_ele_tup}")

Max Element in '(123, 3, 54, 5, 6, 6, 7, 43545, 46546)' is: '46546

In [44]:
# 22. Find the minimum value in a tuple.
tuple_12 = (242,234,34,5,6,67,5)
# access minimum tuple element using min method
min_ele_tup = min(tuple_12)
# print
print(f"min element is: '{min_ele_tup}' in '{tuple_12}'")

min element is: '5' in '(242, 234, 34, 5, 6, 67, 5)'

In [47]:
# 23. Convert a string to a tuple of characters.
string_val = "Hello How Are You?"
# convert into tuple
con_tup = tuple(string_val)
# print value
print(con_tup)

('H', 'e', 'l', 'l', 'o', ' ', 'H', 'o', 'w', ' ', 'A', 'r', 'e', ' ', 'Y', 'o', 'u', '?')

In [48]:
# 24. Convert a tuple of characters to a string.
tup_char = ('H', 'e', 'l', 'l', 'o', ' ', 'H', 'o', 'w', ' ', 'A', 'r', 'e', ' ', 'Y', 'o', 'u', '?')
# convert into string using join method
tup_str = ''.join(tup_char)
# print
print(tup_str)

Hello How Are You?

In [49]:
# 25. Create a tuple from multiple data types.
mix_dt_t = (10,"Hello",True,3.21)
# print
print("With Multple Data Type Tuple: ", mix_dt_t)

With Multple Data Type Tuple:  (10, 'Hello', True, 3.21)

In [51]:
# 26. Check if two tuples are identical.
tuple_1 = (1,23,3,34)
tuple_2 = (3,4,5,5,5)
tuple_3 = (1,23,3,34)

# comparison tuple_1 and tuple_2
if tuple_1 == tuple_2:
    print("tuple_1 and tuple_2 are identical")
else:
    print("tuple_1 and tuple_2 are not identical")
# comparison tuple_1 with tuple_3
if tuple_1 == tuple_3:
    print("tuple_1 and tuple_3 are identical")

else:
    print("tuple_1 and tuple_3 are not identical")

tuple_1 and tuple_2 are not identical
tuple_1 and tuple_3 are identical

In [53]:
# 27. Sort the elements of a tuple.
tuple_11 = (1,23,34,54,5)
# sort it using sorted function
tuple_sort = tuple(sorted(tuple_11))
# print result
print(tuple_sort)

(1, 5, 23, 34, 54)

In [56]:
# 28. Convert a tuple of integers to a tuple of strings.
tuple_int = (12,3,4,5)
# convert each to string
string_int_tup = tuple(str(x) for x in tuple_int)
# print result
print(string_int_tup)

('12', '3', '4', '5')

In [57]:
# 29. Convert a tuple of strings to a tuple of integers.
str_int_tup = ("1","23","34","10")
# convert each to integer
int_tup = tuple(int(y) for y in str_int_tup)
# print result
print(int_tup)

(1, 23, 34, 10)

In [62]:
# 30. Merge two tuples.
tuple_one = (1,3,34,54)
tuple_two = (23,344,5)
# merge using +
merged_tup = tuple_one + tuple_two
# print result
print(merged_tup)

(1, 3, 34, 54, 23, 344, 5)

In [1]:
# 31. Flatten a nested tuple.
nested_tuple = (1,23,3,("hello", "world"), (10,10))
# assign blank tuple 
flatten = []
# check if exist nested then extend else append 
for nest_item in nested_tuple:
    if type(nest_item) == tuple:
        flatten.extend(nest_item)
    else:
        flatten.append(nest_item)
# print the result
print("Flatten From ",{nested_tuple}, "and result: ",flatten)

Flatten From  {(1, 23, 3, ('hello', 'world'), (10, 10))} and result:  [1, 23, 3, 'hello', 'world', 10, 10]

In [20]:
# 32. Create a tuple of the first 5 prime numbers.
num = 5
count = 2
primes = []

# while until num is greater than 0
while num > 0:
    # set is_prime as true now
    is_prime = True
    # iterate through count 
    for i in range(2, count):
        if count % i == 0:
            # return false if % 0
            is_prime = False
            break
    if is_prime:
        primes.append(count)
        num -= 1
    count += 1
# print result 
print("Prime Number: ",primes)

Prime Number:  [2, 3, 5, 7, 11]

In [5]:
# 33. Check if a tuple is a palindrome.
tuple_1 = (1,2,1)
# checking in reverse direction using slice method 
reverse_tup = tuple_1[::-1]
# check if eqaul
if reverse_tup == tuple_1:
    print(tuple_1, "is palindrom")
else:
    print(tuple_1, "is not palindrom")

(1, 2, 1) is palindrom

In [7]:
# 34. Create a tuple of squares of numbers from 1 to 5.
tup_sq = tuple(x**2 for x in range(1,6))
# print result
print(tup_sq)

(1, 4, 9, 16, 25)

In [9]:
# 35. Filter out all even numbers from a tuple.
normal_tuple = (1,2,3,4,5,6,7,8,9,10)
# filter out even number 
filter_tuple = tuple(num for num in normal_tuple if num % 2 != 0)
# print the result 
print(filter_tuple)

(1, 3, 5, 7, 9)

In [12]:
# 36. Multiply all elements in a tuple by 2.
tuple_org = (3,54,5,6,78,8,89)
# multple with 2 using loop
mul_by_2_tup = tuple(x * 2 for x in tuple_org)
# print result
print(mul_by_2_tup)

(6, 108, 10, 12, 156, 16, 178)

In [15]:
# 37. Create a tuple of random numbers.
# import random for random number generator
import random
# generate and store in randmomn_num_tuple
random_num_tuple = tuple(random.randint(1,100) for _ in range(10))
# print the result
print("Random Number: ",random_num_tuple)

Random Number:  (8, 56, 86, 8, 62, 34, 16, 24, 37, 15)

In [35]:
# 38. Check if a tuple is sorted.
def sort_tup_chk(tup):
    for i in range(len(tup) - 1):
        # if current is greater than next then return false otherwise True
        if tup[i] > tup[i + 1]:
            return False
        else:
            return True
# assign tuple:
tup = (1,2,32,34)
# check function
if sort_tup_chk(tup):
    print(tup, "is sorted")
else:
    print(tup, "is not sorted")

(1, 2, 32, 34) is sorted

In [56]:
# 39. Rotate a tuple to the left by `n` positions.
tuple_1 = (100,200,300,400,500)
# n position 
n = 2
# shifting to left using slice
shift_left_tup_1 = tuple_1[n:] + tuple_1[:n]
# print the result
print("Rotated to left: ",shift_left_tup_1)

Rotated to left:  (300, 400, 500, 100, 200)

In [53]:
# 40. Rotate a tuple to the right by `n` positions.
tuple_2 = (100,200,300,400,500)
# n position
n = 2
# shifting to right using slice
shift_right_tup_2 = tuple_2[-n:] + tuple_2[:-n]
# print result
print("Rotated to right: ",shift_right_tup_2)

Rotated to right:  (400, 500, 100, 200, 300)

In [65]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
a, b = 0, 1
fib_tuple = ()
# iterate through range 5
for _ in range(5):
    fib_tuple += (a,)
    a, b = b, a + b

# Print the tuple
print("Fibonacci of first 5 Numbers:", fib_tuple)

Fibonacci of first 5 Numbers: (0, 1, 1, 2, 3)

In [73]:
# 42. Create a tuple from user input.
enter_anythong = input("Enter anything: ")
# split each word to return list and again convert it into tuple
split_input = tuple(enter_anythong.split(","))
# print result:
print("Tuple From User: ", split_input)

Enter anything:  as,ed,tg,tg,ryh,

Tuple From User:  ('as', 'ed', 'tg', 'tg', 'ryh', '')

In [74]:
# 43. Swap two elements in a tuple.
normal_tuple = (1,2,3,4,5)
# assing two indexes
index_one = 0
index_two = 1
# now convert normal_tuple to list because tuple not allowed to modified
list_tuple = list(normal_tuple)
# now swap the element
list_tuple[index_one], list_tuple[index_two] = list_tuple[index_two], list_tuple[index_one]
# now convert into again tuple
swapped_el_tup = tuple(list_tuple)
# print the result
print("normal_tuple ", normal_tuple, "and result after swapped element", swapped_el_tup)

normal_tuple  (1, 2, 3, 4, 5) and result after swapped element (2, 1, 3, 4, 5)

In [76]:
# 44. Reverse the elements of a tuple.
assign_tup = (1,2,3,4,5)
# using slice to reverse 
rev_tup = assign_tup[::-1]
# print the result
print("Reversed Tuple From",assign_tup, "and result:",rev_tup)

Reversed Tuple From (1, 2, 3, 4, 5) and result: (5, 4, 3, 2, 1)

In [78]:
# 45. Create a tuple of the first `n` powers of 2.
n = 5
# power 2 each element through loop
power_2_tup = tuple(2** x for x in range(n))
# print result
print(power_2_tup)

(1, 2, 4, 8, 16)

In [91]:
# 46. Find the longest string in a tuple of strings.
def long_str(string):
    longest_string = ""
    for x in string:
        if len(x) > len(longest_string):
            longest_string = x
    return longest_string
# print the result
# assing result
string = ("PHP", "Python", "Javascript", "Ruby")
result = long_str(string)
print(f"'{result}' is longest word")

'Javascript' is longest word

In [94]:
# 47. Find the shortest string in a tuple of strings.
def short_str(srt_str):
    short_word = srt_str[0]
    # iterate through srt_str
    for s in srt_str:
        if len(s) < len(short_word):
            short_word = s
    return short_word
# assing srt_str
srt_str = ("PHP", "Python", "Javascript", "Ruby")
shor_res = short_str(srt_str)
# print result
print(f"'{shor_res}' is Shortest String in '{srt_str}'")

'PHP' is Shortest String in '('PHP', 'Python', 'Javascript', 'Ruby')'

In [97]:
# 48. Create a tuple of the first `n` triangular numbers.
def triangular_first_n(n):
    return tuple(i * (i+1) // 2 for i in range(1, n + 1))
# assign  
n = 10
result_triangular = triangular_first_n(n)
# print result
print(f"Tuple of first '{n}' Number: ",result_triangular)

Tuple of first '10' Number:  (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [103]:
# 49. Check if a tuple contains another tuple as a subsequence.
def sub_chk(tuple_one, tuple_two):
    # assing index 0
    index = 0
    # iterate tuple_one
    for i in tuple_one:
        if i == tuple_two[index]:
            index +=1
            if index == len(tuple_two):
                return True
    return False
# assing tuple_one and tuple_two value 
tuple_one = (1,2,3,4,5,6,7,8,9,10)
tuple_two = (8,9,10)
# print result
if sub_chk(tuple_one, tuple_two):
    print(f"Yes '{tuple_one}' is contain '{tuple_two}'")
else:
    print(f"No '{tuple_one}' is not contain '{tuple_two}'")

Yes '(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)' is contain '(8, 9, 10)'

In [106]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10
# iterate through n 
alt_tuple = tuple(i % 2 for i in range(n))
# print the result
print("Tuple Of 1s and 0s:", alt_tuple)

Tuple Of 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
# Set Based Practice Problem :

In [112]:
# 1. Create a set with integers from 1 to 5.
set1 = set(i for i in range(1,6))
# print set 
print("Ingers From 1 to 5: ",set1)

Ingers From 1 to 5:  {1, 2, 3, 4, 5}

In [116]:
# 2. Add an element to a set.
set2 = {1,2,3,4,5}
# add to element
add_to_el = 6
# adding element in set2 using add attribute
set2.add(add_to_el)
# print result
print("Result After Adding: ", set2)

Result After Adding:  {1, 2, 3, 4, 5, 6}

In [117]:
# 3. Remove an element from a set.
set3 = {0,1,2,3,4,5}
# element to remove
rem_el = 0
# using remove method to remove this 
set3.remove(rem_el)
# print the result
print("Result After Remove The Element:", set3)

Result After Remove The Element: {1, 2, 3, 4, 5}

In [120]:
# 4. Check if an element exists in a set.
set4 = {1,23,34,5,5}
# find in exist value
find_to = 23
# if condintion to find in set4
if find_to in set4:
    print(f"Yes, '{find_to}' Exist in '{set4}'")
else:
    print(f"No, '{find_to}' not exist in '{set4}'")

Yes, '23' Exist in '{1, 34, 5, 23}'

In [122]:
# 5. Find the length of a set without using the `len()` function.
set5 = {1,23,3,54,65,67}
# initial count 0 
count = 0
# iterate through set5
for _ in set5:
    count +=1
# print result 
print(f"There are '{count}' Elements in '{set5}'")

There are '6' Elements in '{65, 1, 67, 3, 54, 23}'

In [123]:
# 6. Clear all elements from a set.
set6 = {3,54,5,6,7,78}
# clear set6 using clear method
set6.clear()
# print the result
print(set6)

set()

In [126]:
# 7. Create a set of even numbers from 1 to 10.
# initialize blank set
blank_set = set()
# iterate up to 11 from 1 
for num in range(1,11):
    if num % 2 == 0:
        blank_set.add(num)
# print result
print("Even Numbers: ",blank_set)

Even Numbers:  {2, 4, 6, 8, 10}

In [127]:
# 8. Create a set of odd numbers from 1 to 10.
odd_set = set()
# iterate through 1 to 11
for num in range(1,11):
    if num % 2 != 0:
        odd_set.add(num)
# print result
print("Odd Numbers: ",odd_set)

Odd Numbers:  {1, 3, 5, 7, 9}

In [129]:
# 9. Find the union of two sets.
set_1 = {12,4,56,6,5}
set_2 = {0,6,9}
# use union to add them 
union_set = set_1.union(set_2)
# print result
print("Added By Union: ", union_set)

Added By Union:  {0, 4, 5, 6, 56, 9, 12}

In [132]:
# 10. Find the intersection of two sets.
set_one = {334,4,56,6,7}
set_two = {354,5,6,6}
# use the intersection method to find only the intersection element in set
set_one.intersection_update(set_two)
# print result
print("Intersection Value: ", set_one)

Intersection Value:  {6}

In [136]:
# 11. Find the difference between two sets.
set_first = {34,3,544,565,657,78}
set_sec = {34,35,544,67,7,}
# use difference method to find different value only 
set_diff = set_first.difference(set_sec)
# print the result 
print("Different Value: ", set_diff)

Different Value:  {657, 3, 565, 78}

In [150]:
# 12. Check if a set is a subset of another set.
set_a = {4,54,67,3}
set_b = {3,54,567,67,86,4}
# checking if a set is subset of another set using issubset method
is_subset = set_a.issubset(set_b)
# print result
print("Subsets: ", is_subset)

Subsets:  True

In [153]:
# 13. Check if a set is a superset of another set.
set_c = {23,4,56,67,78,8,5}
set_d = {5,23,4}
# check using superset
is_superset = set_c.issuperset(set_d)
# print the result 
print("Is_superset: ",is_superset)

Is_superset:  True

In [154]:
# 14. Create a set from a list.
list1111 = [1,32,4,54,5]
# convert it to set
set_list = set(list1111)
# print the result 
print("Set: ",set_list)

Set:  {32, 1, 4, 5, 54}

In [155]:
# 15. Convert a set to a list.
set_assign = {2,34,54,6,7,5}
# convert it to list
list_set = list(set_assign)
# print result 
print(list_set)

[2, 34, 5, 6, 7, 54]

In [162]:
# 16. Remove a random element from a set.
random_set = {"php", "python", "ruby", "html"}
# print orginal without remove 
print("Orginal Set: ",random_set)
# remove random element using pop method
randmom_set_rem = random_set.pop()
# print the result 
print("removed random element:",randmom_set_rem)
# now become
print("After Removed Result: ",random_set)

Orginal Set:  {'python', 'php', 'ruby', 'html'}
removed random element: python
After Removed Result:  {'php', 'ruby', 'html'}

In [9]:
# 17. Pop an element from a set.
make_set = {2,43,54,6,7,7}
# print before 
print("Original Result: ",make_set)
# remove using pop
pop_el = make_set.pop()
# print result 
print("Pop:", pop_el)
# after pop
print("after pop:", make_set)

Original Result:  {2, 6, 7, 54, 43}
Pop: 2
after pop: {6, 7, 54, 43}

In [11]:
# 18. Check if two sets have no elements in common.
set_one = {3,5,6,788,89}
set_two = {3,5,7,8,9,9}
# check using intersection to find out common elements in both
common_el = set_one.intersection(set_two)
# print the result 
print(common_el, "Intersection in",set_one, "and", set_two)

{3, 5} Intersection in {3, 788, 5, 6, 89} and {3, 5, 7, 8, 9}

In [15]:
# 19. Find the symmetric difference between two sets.
set_first = {"html", "css", "javascript", "bootstrap", "reactjs"}
set_sec = {"javascript", "reac", "pytorch", "html", "css", "php"}
# now find symmertric different
symm_set = set_first.symmetric_difference(set_sec)
# print result
print("Symmertric Defferent: ", symm_set)

Symmertric Defferent:  {'php', 'reac', 'bootstrap', 'reactjs', 'pytorch'}

In [1]:
# 20. Update a set with elements from another set.
set1 = {10,20,30}
# print set1
print("set1: ",set1)
# set2
set2 = {40,50,60}
# print set2
print("set2: ", set2)
# now update using update method
set1.update(set2)
# print final result 
print("Final Result: ", set1)

set1:  {10, 20, 30}
set2:  {40, 50, 60}
Final Result:  {50, 20, 40, 10, 60, 30}

In [1]:
# 21. Create a set of the first 5 prime numbers.
max_num = 5
count = 2
# assing blank set 
prime_set = set()
# while until max_num greater than 0
while max_num > 0:
    # initiate true 
    is_prime = True
    # Iterate through range 2 to count 
    for i in range(2, count):
        if count % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_set.add(count)
        max_num -=1
    count +=1
# print the result
print("Prime Set First 5:", prime_set)

Prime Set First 5: {2, 3, 5, 7, 11}

In [6]:
# 22. Check if two sets are identical.
set_a = {1,2,3,4,5}
set_b = {1,2,3,4,5}

# check identical using == operator 
if set_a == set_b:
    print("Sets Are Indentical")
else:
    print("Sets Are not Indentical")

Sets Are Indentical

In [8]:
# 23. Create a frozen set.
set_a = {1,2,3}
# now convert it into frozenset
frozenset_a = frozenset(set_a)
# print value 
print("Set to Frozen Set: ",frozenset_a)

Set to Frozen Set:  frozenset({1, 2, 3})

In [16]:
# 24. Check if a set is disjoint with another set.
set_one = {1,3,4,5,6}
set_two = {7,8,9,10,11}
# check if set disjoint using disjoint method 
disjoint_set = set_one.isdisjoint(set_two)
# print the result
print("set_one and set_two are disjoint or not: ",disjoint_set)

set_one and set_two are disjoint or not:  True

In [17]:
# 25. Create a set of squares of numbers from 1 to 5.
set_sq = set()
for i in range(1,6):
    # assing each to sq by power
    sq = i ** 2
    # now add each to set_sq
    set_sq.add(sq)
# print the result 
print("Square of 1 to 5: ", set_sq)

Square of 1 to 5:  {1, 4, 9, 16, 25}

In [18]:
# 26. Filter out all even numbers from a set.
set_a = {1,2,3,54,67,7}
even_blnk_set = set()
# iterate through set_a 
for i in set_a:
    if i % 2 == 0:
        even_blnk_set.add(i)
# print the result 
print("Filtered Even Number: ", even_blnk_set, "from", set_a)

Filtered Even Number:  {2, 54} from {1, 2, 3, 67, 54, 7}

In [19]:
# 27. Multiply all elements in a set by 2.
random_set = {23,4,56,67,8,8}
multiplied_set = set()
# iterate through random set and muliply by 2 each 
for i in random_set:
    mul_num = i*2
    multiplied_set.add(mul_num)
# print result 
print(f"After Multiplied: {multiplied_set} and before multiplied set: {random_set}")

After Multiplied: {134, 8, 46, 112, 16} and before multiplied set: {67, 4, 23, 8, 56}

In [22]:
# 28. Create a set of random numbers.
# import random package to generate random number
import random
# want number of random number 
number_of_random = 5
# assing blank set
rand_blank_set = set()
# iterate through loop range number_of_random
for _ in range(number_of_random):
    # generate within 1 to 100
    rand_num = random.randint(1,100)
    # now add to rand_blank_set
    rand_blank_set.add(rand_num)
# print the result
print("5 Randmon Number: ", rand_blank_set)

5 Randmon Number:  {35, 4, 6, 8, 87}

In [23]:
# 29. Check if a set is empty.
set_11 = set()
# check empty set through if not 
if not set_11:
    print("set_11 is empty")
else:
    print("set_11 is not empty")

set_11 is empty

In [29]:
# 30. Create a nested set (hint: use frozenset).
set_a = {1,2,3}
set_b = {4,5,6}
# convert set_a and set_b to frozenset
froz_set_a = frozenset(set_a)
froz_set_b = frozenset(set_b)
# now create nested 
frozen_set_nested = {froz_set_a, froz_set_b}
# print result 
print("Now Frozen Set: ", frozen_set_nested)

Now Frozen Set:  {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [31]:
# 31. Remove an element from a set using the discard method.
org_set = {"php", "python", "bootstrap"}
# print org_set 
print("Original Set: ",org_set)
# remove php using discard
org_set.discard("php")
# print result
print("After Discard PHP Result: ", org_set)

Original Set:  {'php', 'bootstrap', 'python'}
After Discard PHP Result:  {'bootstrap', 'python'}

In [43]:
# 32. Compare two sets.
set_one = {1,2,3,4,566}
set_two = {2,3,32,1,6,7}
# comprison using diffrenet and multple attributes of set even operator
if_equal = set_one == set_two # if both equal
if_not_equal = set_one != set_two #if both not equal
if_intersec = set_one.intersection(set_two) #if any element intersection
if_subset = set_one.issubset(set_two) #if set_two having in set_one
if_supset = set_two.issuperset(set_one) #if set_one having in set_two
# print result 
print("are set_one and set_two equal: ", if_equal)
print("are set_one and set_two not equal: ", if_not_equal)
print("Intersection Element: ", if_intersec)
print("has set_one's elements in set_two: ", if_subset)
print("has set_two's elements in set_one: ", if_supset)

are set_one and set_two equal:  False
are set_one and set_two not equal:  True
Intersection Element:  {1, 2, 3}
has set_one's elements in set_two:  False
has set_two's elements in set_one:  False

In [45]:
# 33. Create a set from a string.
string = "Python"
# convert it into set
set_from_str = set(string)
# print the result 
print("String to Set: ",set_from_str)

String to Set:  {'y', 'o', 'n', 'h', 't', 'P'}

In [46]:
# 34. Convert a set of strings to a set of integers.
set_str_int = {"1","2","3","4","5"}
# assing blank str_to_int
str_to_int = set()
# iterate through set_str_int
for i in set_str_int:
    int_set = int(i)
    str_to_int.add(int_set)
# print the result 
print("String Set of Integer: ",set_str_int, "converted to Set of Integers: ", str_to_int)

String Set of Integer:  {'1', '2', '5', '3', '4'} converted to Set of Integers:  {1, 2, 3, 4, 5}

In [47]:
# 35. Convert a set of integers to a set of strings.
set_int = {1,2,3,4,54}
# assign blank set 
set_str_int = set()
# iterate through set_int
for i in set_int:
    # store each to str_int_el
    str_int_el = str(i)
    # now add to set - set_str_int
    set_str_int.add(str_int_el)
# print result 
print("from integer: ",set_int, "to string integer: ", set_str_int)

from integer:  {1, 2, 3, 4, 54} to string integer:  {'1', '54', '2', '3', '4'}

In [48]:
# 36. Create a set from a tuple.
tup_dt = (1,3,4,5,65)
# print result 
print("tuple: ", tup_dt)
# convert it into set
tup_to_set = set(tup_dt)
# print result 
print("set: ",tup_to_set)

tuple:  (1, 3, 4, 5, 65)
set:  {65, 1, 3, 4, 5}

In [49]:
# 37. Convert a set to a tuple.
set_rand = {1,23,34,5,6}
# print set_rand
print("set: ", set_rand)
# now convert it into tuple
tup_set = tuple(set_rand)
# print result
print("set to tuple: ", tup_set)

set:  {1, 34, 5, 6, 23}
set to tuple:  (1, 34, 5, 6, 23)

In [50]:
# 38. Find the maximum value in a set.
set_one = {23,34,4,56,67,7,78,54,4,4}
# find max value in set using max
max_el_in_set = max(set_one)
# prin result 
print(max_el_in_set, "is maximum value in", set_one)

78 is maximum value in {34, 67, 4, 7, 78, 54, 23, 56}

In [53]:
# 39. Find the minimum value in a set.
set_two = {234,54,56,67,6,4,4,32,34,45667}
# find min value in set using min method 
min_val = min(set_two)
# print result
print(min_val, "is minimum value in ", set_two)

4 is minimum value in  {32, 34, 67, 4, 45667, 6, 234, 54, 56}

In [56]:
# 40. Create a set from user input.
# collecting input from user
user_input = input("Enter Elements seprated comma: ")
# use split to convert it into list and again convert to set
set_split_user_input = set(user_input.split(','))
# print result 
print(set_split_user_input)

Enter Elements seprated comma:  hello, guys

{' guys', 'hello'}

In [61]:
# 41. Check if the intersection of two sets is empty.
set1 = {1,2,34,54,6}
set2 = {223,2,566,7}
# using intersection to find intersection value 
intersec_val = set1.intersection(set2)
if not intersec_val:
    print("Intersection is Empty")
else:
    print("Intersection is not Empty")

Intersection is not Empty

In [62]:
# 42. Create a set of the first 5 Fibonacci numbers.
# first assing blank set 
fibonacci = set()
# assign a = 0 and b= 1
a, b = 0, 1
# iterate through 6 because we need first 5 
for i in range(6):
    fibonacci.add(a)
    a, b = b, a+b
# print result 
print("Fibonacci of First 5 Number: ", fibonacci)

Fibonacci of First 5 Number:  {0, 1, 2, 3, 5}

In [70]:
# 43. Remove duplicates from a list using sets.
list_data = [1,1,1,2,3,4,23,2,4,54,6,67]
# print list data
print("List With Duplicates: ", list_data)
# convert it into set to remove duplicates 
list_data_set = set(list_data)
# now convert back to list datatype 
list_back = list(list_data_set)
# print result
print("Removed Duplicates Using Set: ", list_back)

List With Duplicates:  [1, 1, 1, 2, 3, 4, 23, 2, 4, 54, 6, 67]
Removed Duplicates Using Set:  [1, 2, 3, 4, 67, 6, 54, 23]

In [73]:
# 44. Check if two sets have the same elements, regardless of their count.
set_one = {1,2,3,4,5}
set_two = {5,4,3,2,1}
# comparison using == operator 
if set_one == set_two:
    print("set_one", set_one, "and set_two", set_two, "are same")
else:
    print("set_one", set_one, "and set_two", set_two, "are not same")

set_one {1, 2, 3, 4, 5} and set_two {1, 2, 3, 4, 5} are same

In [76]:
# 45. Create a set of the first `n` powers of 2.
# assign blank set 
sq_n = set()
# asign n value 
n = 10
for i in range(n):
    # power by 2 each 
    sq = i ** 2
    # add element in sq_n
    sq_n.add(sq)
# print result 
print("Power by two first n: ", sq_n)

Power by two first n:  {0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [80]:
# 46. Find the common elements between a set and a list.
set_el = {1,2,34,5,67,88}
list_val = [1,2,3,5,6,7]
# convert list_val to set data type 
list_val = set(list_val)
# assing blank set
common_set = set()
# iterate through set_el
for el in set_el:
    # iterate each and match with list val
    if el in list_val:
        # if match than append in common_set
        common_set.add(el)
# print result 
print("Common Element:", common_set, "in", set_el, "and", list_val)

Common Element: {1, 2, 5} in {1, 2, 67, 34, 5, 88} and {1, 2, 3, 5, 6, 7}

In [88]:
# 47. Create a set of the first `n` triangular numbers.
# assing n number
n = 10
# assing blank set triangular 
set_triangular = set()
# iterate through n + 1
for i in range(n +1):
    triangular_num = i * (i+1)
    set_triangular.add(triangular_num)
# print result 
print("Triangular number of first ", n, set_triangular)

Triangular number of first  10 {0, 2, 6, 72, 42, 12, 110, 20, 56, 90, 30}

In [93]:
# 48. Check if a set contains another set as a subset.
set_one = {1,2,3,4,5,6}
set_two = {1,5,3}
# check if contain another subset using issubset method
is_subset = set_two.issubset(set_one)
# print result
print("is", set_one, "contains", set_two, is_subset)

is {1, 2, 3, 4, 5, 6} contains {1, 3, 5} True

In [98]:
# 49. Create a set of alternating 1s and 0s of length `n`.
# assing n value 
n = 10
# iterate through n
alternating = set(i % 2 for i in range(n))
# print result 
print(alternating,"Alternating 1s and 0s of Length", n)

{0, 1} Alternating 1s and 0s of Length 10

In [99]:
# 50. Merge multiple sets into one.
set_a = {1,2,3,4,5}
set_b = {6,7,8,9,10}
set_c = {11,12,13,14,15}
# merge using union
merged_sets = set_a.union(set_b,set_c)
# print result
print(set_a, set_b, set_c," are merged: ",merged_sets)

{1, 2, 3, 4, 5} {6, 7, 8, 9, 10} {11, 12, 13, 14, 15}  are merged:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}